@model IEnumerable<Supermarket3.Models.ShoppingCart>

@{
    ViewData["Title"] = "FullHistory";
}

<h1>Purchase History</h1>
<hr />

@foreach (var cart in Model)
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @cart.Id
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @cart.Date
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-10">
                @cart.Total.ToString("0.00")
            </dd>
        </dl>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    QTY
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in cart.CartItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        $@((item.Quantity * item.ProductItem.Price).ToString("0.00"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


