@model IEnumerable<Supermarket3.Models.Product>
@using Microsoft.AspNetCore.Http

@{
    // Set the title of the view to "Index"
    ViewData["Name"] = "Index";

    // Retrieve the last product search from session state, or set it to an empty string if it's null
    string lastSearch = Context.Session.GetString("LastProductSearch") ?? "";

    // Clear the last product search in session state
    Context.Session.SetString("LastProductSearch", "");

    bool Authenticated = Context.User.Identity.IsAuthenticated;
    bool isAdmin = Context.User.IsInRole("Admin");
    var id = Context.Session.GetInt32("ID") ?? -1;
}



<h1>Index</h1>
<!--Creates a right floated container-->
<div style="float:right">
    <!--Creates a medium column with a width of 9/12 its parent-->
    <div class="col-md-9">
        <!--Create a form which will trigger the ShowSearchResults action event-->
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchPhrase">Search for:</label>
                <!-- Set the value of the search phrase input to the last product search -->
                <input name="SearchPhrase" value="@lastSearch" class="form-control" />
            </div>
            <div class="form-group">
                <!-- Create a submit button to submit the search form -->
                <input type="submit" value="Search" />
            </div>
        </form>
    </div>
</div>

<p>

    @{
        //Get the user id from the user session.
        id = Context.Session.GetInt32("ID") ?? -1;

        if (Authenticated && id > -1)
        {

            if (isAdmin)
            {
                <a class="btn btn-info btn-lg" asp-action="Create" asp-controller="Products">Create New</a>
            }


        }
        else
        {
            <a asp-action="Login" asp-controller="Login" class="btn btn-success">Login</a>
        }
    }
    
</p>


<div class="container row d-flex justify-content-around my-5">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 width: 10vw;">
                <div class="single-card card shadow m-2 text-center" style="width: 100%" id="card-@product.Id">
                    <div class="card-body">
                        <h2 class="alert-info">@product.Name</h2>
                        <h3 class="product-price">$@product.Price</h3>
                        <p class="product-description" style="height: 12rem; font-size: 18px;">
                            <strong>Product Description:</strong> @product.Unit
                        </p>
                        <div class="card-img-top" style="border-radius: 50%;">
                            <img src="https://cupcakesfactory.com.co/wp-content/uploads/CANASTA-DE-FRUTA.png" class="img-fluid" alt="@product.Name">
                        </div>
                        <small class="product-code"><strong>Product Code:</strong> @product.Id</small>
                        <div class="add-to-cart-button">
                            <a href="#" class=" add-item-button btn btn-success btn-add-cart" value="@product.Id">
                                Add To Cart
                            </a>
                        </div>
                    </div>
                   
                </div>
            </div>
        }
    </div>
</div>





<script src="~/js/product.js" asp-append-version="true"></script>