@model IEnumerable<Supermarket3.Models.ShoppingCart>

@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

@if (Model == null || Model.Count() == 0)
{
    <h1>NO PREVIOUS PURCHASE HISTORY</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @item.Total.ToString("0.00")
                    </td>
                    <td>
                        <a asp-action="HistoryDetails" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

